@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*generic*/
body {
  font-family: "Roboto", sans-serif;
  color: #16133D;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.title-main {
  font-family: "Nunito Sans", sans-serif;
  font-size: 3.5rem;
  line-height: 121%;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.5rem;
  line-height: 130%;
  font-weight: 600;
}

.title-head {
  line-height: 131%;
  text-transform: uppercase;
  color: #7690A8;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 0;
  border: 2px solid #16133D;
  border-radius: 8px;
  line-height: 117%;
  font-weight: 500;
  color: #16133D;
  transition: all 0.5s ease;
}
.button:hover {
  background-color: #16133D;
  color: #fff;
}

.button_blue {
  border: 2px solid #007FFC;
  color: #007FFC;
  transition: all 0.5s ease;
}
.button_blue:hover {
  background-color: #007FFC;
}

.button_round {
  border-radius: 50px;
}

.text-dark {
  font-size: 1.187rem;
  line-height: 189%;
  color: #183B56;
}

.text-light {
  font-size: 1.125rem;
  line-height: 156%;
  color: #7690A8;
}

/*HEADER*/
.header {
  padding: 47px 0 38px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-list {
  display: flex;
}
.header__menu-item:not(:last-child) {
  margin-right: 61px;
}
.header__menu-link {
  font-size: 1rem;
  line-height: 100%;
  font-weight: 500;
  color: inherit;
  transition: all 0.5s ease;
}
.header__menu-link:hover {
  text-decoration: underline;
}
.header__buttons {
  display: flex;
}
.header__button {
  width: 119px;
}
.header__button:not(:last-child) {
  margin-right: 22px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  width: 26px;
  margin-right: 14px;
}
.logo__img img {
  max-width: 100%;
}
.logo__text {
  font-family: "Quicksand", sans-serif;
  font-size: 2.19rem;
  line-height: 100%;
  font-weight: 500;
}

/*MAIN*/
/*hero*/
.hero {
  padding: 54px 0 60px;
}
.hero__container {
  display: flex;
  justify-content: space-between;
}
.hero__content {
  max-width: 477px;
  margin-right: 15px;
}
.hero__title {
  margin-bottom: 20px;
}
.hero__text {
  margin-bottom: 31px;
}
.hero__buttons {
  display: flex;
}
.hero__button {
  width: 179px;
}
.hero__button:not(:last-child) {
  margin-right: 20px;
}
.hero__img {
  max-width: 576px;
}
.hero__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*services*/
.services {
  padding: 60px 0 100px;
}
.services__title-head {
  margin-bottom: 17px;
}
.services__title {
  margin-bottom: 6px;
}
.services__text {
  margin-bottom: 61px;
}
.services__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 39px;
}
.services__item {
  padding: 41px;
  border: 1px solid #E5EAF4;
  border-radius: 8px;
}
.services__item-img {
  margin-bottom: 28px;
  width: 64px;
  height: 64px;
  border: 1px solid #E5EAF4;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__item-title {
  margin-bottom: 14px;
  font-size: 1.5rem;
  line-height: 89%;
  letter-spacing: 0.2px;
}
.services__item-text {
  margin-bottom: 29px;
}
.services__item-link {
  line-height: 117%;
  color: inherit;
  transition: all 0.5s ease;
}
.services__item-link:hover {
  text-decoration: underline;
}

/*tips*/
.tips {
  padding: 100px 0;
}
.tips__title-head {
  margin-bottom: 17px;
}
.tips__title {
  margin-bottom: 7px;
}
.tips__text {
  margin-bottom: 85px;
}
.tips__items {
  display: flex;
  justify-content: space-between;
}
.tips__item {
  position: relative;
  max-width: 553px;
  border-radius: 8px;
}
.tips__item:not(:last-child) {
  margin-right: 49px;
}
.tips__item-img img {
  width: 100%;
}
.tips__item-text {
  position: absolute;
  bottom: 64px;
  left: 46px;
  z-index: 2;
  max-width: 449px;
  font-size: 2.25rem;
  line-height: 133%;
  letter-spacing: 0.2px;
  color: #fff;
}

/*prices*/
.prices {
  padding: 100px 0 200px;
}
.prices__title {
  margin-bottom: 7px;
}
.prices__text {
  margin-bottom: 80px;
}
.prices__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(226px, 1fr));
  gap: 30px;
}
.prices__item {
  padding: 50px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.03);
}
.prices__item-title {
  margin-bottom: 32px;
  flex: 1 1 auto;
  font-size: 1.5rem;
  line-height: 133%;
  letter-spacing: 0.2px;
}
.prices__item-price {
  margin-bottom: 5px;
  font-size: 2.5rem;
  line-height: 130%;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.prices__item-long {
  margin-bottom: 35px;
  line-height: 150%;
  color: #5A7184;
}
.prices__item-text {
  margin-bottom: 35px;
}
.prices__item-button {
  width: 171px;
}

.item-blue {
  border-top: 3px solid #007FFC;
}

.price-blue {
  color: #007FFC;
}

.item-green {
  border-top: 3px solid #52C29D;
}

.price-green {
  color: #52C29D;
}

.item-red {
  border-top: 3px solid #F04D5D;
}

.price-red {
  color: #F04D5D;
}

/*demo*/
.demo {
  margin-bottom: 200px;
}
.demo__container {
  padding: 97px 0 84px;
  background: url("../img/blue-fon.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.demo__wrap {
  text-align: center;
}
.demo__title {
  margin-bottom: 19px;
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.2px;
}
.demo__text {
  margin-bottom: 48px;
  font-size: 1.125rem;
  line-height: 177%;
  color: rgba(255, 255, 255, 0.6);
}
.demo__buttons {
  display: flex;
  justify-content: center;
}
.demo__button {
  width: 185px;
  font-size: 1rem;
  font-weight: 400;
  color: #183B56;
  transition: all 0.5s ease;
}
.demo__button:not(:last-child) {
  margin-right: 20px;
}
.demo__button:hover {
  border: 2px solid #fff;
}

/*footer*/
.footer {
  padding: 89px 0 70px;
  background-color: #16133D;
  color: #EFEEF3;
}
.footer__info {
  padding-bottom: 143px;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  margin-bottom: 28px;
  color: #F2F2F2;
}
.footer__text {
  margin-bottom: 58px;
  max-width: 285px;
  font-size: 1rem;
  line-height: 175%;
}
.footer__right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.footer__menu {
  margin-right: 97px;
  display: flex;
}
.footer__menu-col {
  display: flex;
  flex-direction: column;
}
.footer__menu-col:not(:last-child) {
  margin-right: 51px;
}
.footer__title {
  margin-bottom: 38px;
  font-size: 1.06rem;
  line-height: 141%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer__menu-item {
  font-size: 0.937rem;
  line-height: 117%;
  color: inherit;
  transition: all 0.5s ease;
}
.footer__menu-item:hover {
  text-decoration: underline;
}
.footer__menu-item:not(:last-child) {
  margin-bottom: 20px;
}
.footer__contact-us {
  display: flex;
  flex-direction: column;
}
.footer__contact-us-text {
  margin-bottom: 19px;
  font-size: 0.937rem;
  line-height: 117%;
}
.footer__contact-us-email {
  font-size: 1.562rem;
  line-height: 195%;
  color: #fff;
}
.footer__copyright {
  font-size: 1rem;
  line-height: 175%;
  text-align: center;
}

.social {
  display: flex;
}
.social__item:not(:last-child) {
  margin-right: 8px;
}

@media (max-width: 1024px) {
  .header__menu-list {
    display: none;
  }
  .header__buttons {
    margin-right: 60px;
  }
  .header__burger {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    width: 40px;
    height: 30px;
    z-index: 5;
    transition: all 0.5s ease;
  }
  .header__burger span {
    position: absolute;
    background-color: #16133D;
    left: 0;
    top: 14px;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #16133D;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger_active span {
    transform: scale(0);
  }
  .header__burger_active::before {
    background-color: #fff;
    transform: rotate(45deg);
    top: 19px;
  }
  .header__burger_active::after {
    background-color: #fff;
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu-list_active {
    position: absolute;
    z-index: 4;
    display: block;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: #16133D;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    text-align: center;
    transition: all 0.5s ease;
  }
  .header__menu-list_active .header__menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }
  .header__menu-list_active .header__menu-link {
    font-size: 3.125rem;
    color: #fff;
  }
  .hero__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero__content {
    margin-bottom: 50px;
    margin-right: 0;
    max-width: 100%;
  }
  .hero__buttons {
    justify-content: center;
  }
  .hero__img {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .hero__img img {
    width: 80%;
  }
  .tips {
    padding: 50px 0;
  }
  .tips__item-text {
    bottom: 20px;
    left: 20px;
    font-size: 1.75rem;
  }
  .prices {
    padding-bottom: 100px;
  }
  .demo {
    margin-bottom: 100px;
  }
}